@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import './themes.css';

:root {
  --app-width: 375px;
  --app-padding: 24px;
  --app-radius: 8px;
  --key-padding: 12px;
  --key-width: 60px;
  --key-height: 60px;
  --screen-height: 88px;
  --screen-font-size: 32px;

  --font-family: 'Spartan', sans-serif;
  --font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 100vh;

  background-color: var(--main-back);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#app {
  display: flex;
  flex-direction: column;

  gap: var(--app-padding);
  width: var(--app-width);
  padding: var(--app-padding);

  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);

  color: var(--body-text);
}

main {
  display: flex;
  flex-direction: column;

  gap: var(--app-padding);
}

.attribution {
  font-size: 11px;
  text-align: center;
  list-style: none;
}
.attribution li {
  padding: 0.5em;
}
.attribution a {
  color: var(--eql-color);
}

.hide-element {
  position: absolute;

  border: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
} 

@media only screen and (min-width: 1440px) {
  :root {
     --app-width: 600px;
     --app-padding: 30px;
     --key-padding: 24px;
     --key-width: 101px;
     --screen-height: 128px;
     --screen-font: 42px;
  }
}
